body {
    background-color: aliceblue;
    color: black;
}

h1 {
    color: #0cbaeb;
    margin-left: 20%;
    font-size: 50px;
}

h2 {
    color: #0b90b4;
    margin-left: 20%;
    font-size: 40px;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
    width: 60%;
    background: #edebeb;
    padding: 25px;
    border-radius: 15px;
    margin-left: 20%;

}

li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
    margin-left: 21%;
}
hr {
    width: 63%;
    margin-left: 20%;
    padding: 2px;
    border-radius: 50%;
    background: linear-gradient(90deg, #eb0c65, #b307ad, #2a92bf, #b307ad,#eb0c65);
}

.class {
    color: brown;
}

#id {
    color: aqua;
}

.highlight {
    width: 60%;
    font-size: 30px;
    background: linear-gradient(90deg, #eb0c65, #b307ad, #2a92bf, #b307ad,#eb0c65);
    padding: 35px;
    border-radius: 50px;
    margin-left: 20%;
}

.footer {
    width: 60%;
    font-size: 16px;
    background: linear-gradient(90deg, #eb0c65, #b307ad, #2a92bf, #b307ad,#eb0c65);
    padding: 25px;
    border-radius: 5px;
    margin-left: 20%;
    text-align: center;
}

.attractions {
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    margin-left: 20%;
    background: linear-gradient(90deg, #eb0c65, #b307ad, #2a92bf, #b307ad,#eb0c65);
}
table {
    width: 62.5%;
    border-collapse: collapse;
    margin-left: 20%;
}

th {
    background: linear-gradient(90deg, #eb0c65, #b307ad, #2a92bf, #b307ad,#eb0c65);
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #b1f0fc;
}