h1 {
    color: #db04db;
    text-align: center;
}

.theimageyouopenediticame {
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    margin-left: 20%;
    background: linear-gradient(90deg, #db04db, #fc05ba, #db04db);
}

.theiframeyouopenediticame {
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    margin-left: 20%;
    background: linear-gradient(90deg, #73b0f5, #bbdafc, #73b0f5);
}

.thevideoyouopenediticame {
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    margin-left: 20%;
    background: linear-gradient(90deg, #13bf0a, #14fa07, #13bf0a);
}

.theaudioyouopenediticame {
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    margin-left: 20%;
    background: linear-gradient(90deg, #cfc50e, #fff30f, #cfc50e);
}

h2 {
    color: #e1fcbb;
    margin-left: 20%;
    font-size: 40px;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
    width: 60%;
    background: linear-gradient(90deg, #c7c7c7, #f7f7f7, #c7c7c7);
    padding: 25px;
    border-radius: 15px;
    margin-left: 20%;

}

body {
    background-color: black;
}