.profile-card {
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
    border: 2px inset blue;
    width: 300px;
    border-radius: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color:blueviolet;
    text-align: center;
}

#submit-btn{
    background-color: aqua;
    color:brown;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.bio{
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#submit-btn:hover{
    background-color: darkgreen;
}